<section class="w-[247px] border-1 surface-border border-round-lg">
  <div class="flex w-full justify-content-between px-1">
    <span class="p-input-icon-left w-full">
      <i class="pi pi-search text-500"></i>
      <input
        type="text"
        pInputText
        placeholder="Search menus, shortcuts, contact and more..."
        class="w-full border-none shadow-none outline-none"
        (click)="show = true"
      />
    </span>
  </div>
</section>

<p-dialog
  [(visible)]="show"
  [dismissableMask]="true"
  [modal]="true"
  [showHeader]="false"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw', 'max-width': '750px' }"
  contentStyleClass="border-round-top p-0"
  appendTo="body"
  (onShow)="input1.focus()"
  (onHide)="show = false; search = ''"
  class="min-h-[375px]"
>
  <div
    class="flex w-full surface-section align-items-center justify-content-between px-1"
  >
    <span class="p-input-icon-left w-full">
      <i class="pi pi-search text-500"></i>

      <input
        #input1
        type="text"
        pInputText
        placeholder="Search menus, shortcuts, contact and more..."
        (input)="searchItem(search)"
        [(ngModel)]="search"
        debounce="1000"
        class="w-full border-none shadow-none outline-none"
      />
    </span>
    <span
      class="border-1 p-1 surface-border border-round surface-100 mr-2 text-600 text-xs hidden md:block"
      >{{ systemKey }}</span
    >
  </div>
  @if(recents.length && !search) {

  <div class="border-y-1 surface-border px-3 py-3">
    <h2 class="font-semibold text-xs text-500 mb-2 mt-0 px-1">RECIENTE</h2>
    <ul class="list-none m-0 p-0">
      @for(item of recents; track item.title) {
      <li
        class="select-none p-2 font-medium text-base cursor-pointer border-round-lg hover:surface-hover hover:text-primary"
      >
        {{ item.title }}
      </li>

      }
    </ul>
  </div>
  } @if(items$ | async) {

  <div class="p-2">
    @for(item of items$ | async ; track item.title) {

    <article
      (click)="selectItem(item)"
      class="flex w-full justify-content-between align-items-center mb-3 select-none cursor-pointer surface-border hover:surface-hover border-round-lg px-2 py-1 text-800 hover:text-primary"
    >
      <div class="flex align-items-center">
        <span
          class="border-circle w-2rem h-2rem flex align-items-center justify-content-center surface-100"
        >
          <i class="pi pi-cog text-lg"></i>
        </span>
        <div class="ml-2">
          <p class="font-semibold text-sm mt-0 mb-1">{{ item.title }}</p>
        </div>
      </div>
    </article>
    }
  </div>
  }
</p-dialog>
