<div class="flex w-full flex-column flex-auto">
  <div class="p-5">
    <div class="grid">
      <div class="col-12 lg:col-6 xl:col-3">
        <div class="surface-card shadow-2 p-3 border-1 border-50 border-round">
          <div class="flex justify-content-between mb-3">
            <div>
              <span class="block text-500 font-medium mb-3"
                >Total al Corte</span
              >
              <div class="text-900 font-medium text-xl">₡ 152</div>
            </div>
            <div
              class="flex align-items-center justify-content-center bg-blue-100 border-round"
              style="width: 2.5rem; height: 2.5rem"
            >
              <i class="pi pi-money-bill text-blue-500 text-xl"></i>
            </div>
          </div>
          <span class="text-green-500 font-medium">24 new </span>
          <span class="text-500">since last visit</span>
        </div>
      </div>
      <div class="col-12 lg:col-6 xl:col-3">
        <div class="surface-card shadow-2 p-3 border-1 border-50 border-round">
          <div class="flex justify-content-between mb-3">
            <div>
              <span class="block text-500 font-medium mb-3"
                >Total Operaciones</span
              >
              <div class="text-900 font-medium text-xl">16</div>
            </div>
            <div
              class="flex align-items-center justify-content-center bg-orange-100 border-round"
              style="width: 2.5rem; height: 2.5rem"
            >
              <i class="pi pi-check text-orange-500 text-xl"></i>
            </div>
          </div>
          <span class="text-green-500 font-medium">%52+ </span>
          <span class="text-500">since last week</span>
        </div>
      </div>
      <div class="col-12 lg:col-6 xl:col-3">
        <div class="surface-card shadow-2 p-3 border-1 border-50 border-round">
          <div class="flex justify-content-between mb-3">
            <div>
              <span class="block text-500 font-medium mb-3"
                >Total Asistencias</span
              >
              <div class="text-900 font-medium text-xl">6</div>
            </div>
            <div
              class="flex align-items-center justify-content-center bg-cyan-100 border-round"
              style="width: 2.5rem; height: 2.5rem"
            >
              <i class="pi pi-users text-cyan-500 text-xl"></i>
            </div>
          </div>
          <span class="text-green-500 font-medium">520 </span>
          <span class="text-500">newly registered</span>
        </div>
      </div>
      <div class="col-12 lg:col-6 xl:col-3">
        <div class="surface-card shadow-2 p-3 border-1 border-50 border-round">
          <div class="flex justify-content-between mb-3">
            <div>
              <span class="block text-500 font-medium mb-3"
                >Total Pacientes</span
              >
              <div class="text-900 font-medium text-xl">17</div>
            </div>
            <div
              class="flex align-items-center justify-content-center bg-purple-100 border-round"
              style="width: 2.5rem; height: 2.5rem"
            >
              <i class="pi pi-user-plus text-purple-500 text-xl"></i>
            </div>
          </div>
          <span class="text-green-500 font-medium">85 </span>
          <span class="text-500">responded</span>
        </div>
      </div>
      <div class="col-12 xl:col-6">
        <div class="surface-card shadow-2 border-round p-4">
          <div class="flex align-items-center justify-content-between mb-3">
            <div class="text-900 font-medium text-xl">
              Grafico de Facturación
            </div>
            <div>
              <button
                pButton
                pRipple
                icon="pi pi-cog"
                class="p-button-text p-button-plain p-button-rounded"
                (click)="menu3.toggle($event)"
              ></button>
              <p-menu #menu3 [popup]="true" [model]="items"></p-menu>
            </div>
          </div>
          <div class="card">
            <p-chart
              class="facture-chart"
              type="line"
              [data]="data"
              [options]="options"
            ></p-chart>
          </div>
        </div>
      </div>

      <div class="col-12 xl:col-6 flex items-center justify-center">
        <div class="surface-card shadow-2 border-round p-4">
          <div class="flex align-items-center justify-content-between mb-3">
            <div class="text-900 font-medium text-xl">Balance</div>
          </div>
          <p-chart
            type="doughnut"
            [data]="data2"
            [options]="options2"
          ></p-chart>
        </div>
      </div>
    </div>
  </div>
</div>
